In [1]:
import neo4j
import pandas as pd

In [2]:
df = pd.read_csv('FullData.csv')
print(df.shape)
df.head(3)

(17588, 53)

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11

In [3]:
df.rename({'National_Kit': 'National_Team_Kit'}, axis=1, inplace=True)

In [4]:
df.head(5)

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [5]:
df.Height = df.Height.str.split(' ', expand=True)[0]
df[['Height']].head()

  Height
0    185
1    170
2    174
3    182
4    193

In [6]:
df.Weight = df.Weight.str.split(' ', expand=True)[0]
df[['Weight']].head()

  Weight
0     80
1     72
2     68
3     85
4     92

In [105]:

club_df = df[['Club']]

club_df.drop_duplicates(subset ="Club", keep = 'first', inplace = True)
club_df.head(50)

<ipython-input-105-1de4e45e63ef>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  club_df.drop_duplicates(subset ="Club", keep = 'first', inplace = True)

                 Club
0         Real Madrid
1        FC Barcelona
4           FC Bayern
5      Manchester Utd
9             Chelsea
13            Arsenal
14           Juventus
15                PSG
17    Manchester City
19    Atlético Madrid
21      Bor. Dortmund
26              Spurs
40              Inter
47           Bayer 04
52          Liverpool
56               Roma
66     Olym. Lyonnais
68            Everton
76    Olym. Marseille
77             Napoli
81   AS Saint-Étienne
85    Athletic Bilbao
88     Leicester City
95          AS Monaco
104     Villarreal CF
108     FC Schalke 04
113    Crystal Palace
122     Real Sociedad
126             Milan
127       Sporting CP
134          FC Porto
135        1. FC Köln
137        Sevilla FC
139             Genoa
142        Celta Vigo
151       Free Agents
159        Toronto FC
165   Bor. M'gladbach
166        SL Benfica
174          West Ham
175       Valencia CF
181        Fiorentina
183            Torino
185       Galatasaray
191          Beşiktaş
206     UD Las Palmas
209       Southampton
210        Stoke City
214          Sassuolo
217             Lazio

In [110]:
position_df = df[['Club','Club_Position']]
df.loc[df['Club'] == 'Free agent', 'Club'] = 'Free Agents'
df.loc[df['Club'] == 'Free Agents', 'Club_Position'] = 'Res'
position_df.head(300)

               Club Club_Position
0       Real Madrid            LW
1      FC Barcelona            RW
2      FC Barcelona            LW
3      FC Barcelona            ST
4         FC Bayern            GK
..              ...           ...
295   Villarreal CF            RM
296             PSG           CDM
297   FC Schalke 04           CAM
298  Spartak Moscow            RM
299          Torino            ST

[300 rows x 2 columns]

In [10]:
df.insert(len(df.columns), 'Rating_Group', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,81,76,85,88,14,7,15,11,11,
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,89,90,74,85,14,6,15,11,8,
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,79,84,81,83,15,9,15,9,11,
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,84,85,88,33,27,31,25,37,
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,14,11,47,11,91,89,95,90,89,

In [12]:
df.loc[:,["Rating"]]

       Rating
0          94
1          93
2          92
3          92
4          92
...       ...
17583      45
17584      45
17585      45
17586      45
17587      45

[17588 rows x 1 columns]

In [27]:
df.loc[df['Rating'] >= 85, 'Rating_Group'] = 'High'
df.loc[df['Rating'] <= 84, 'Rating_Group'] = 'Medium'
df.loc[df['Rating'] <= 60, 'Rating_Group'] = 'Low'

In [32]:
df.head(100)

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,81,76,85,88,14,7,15,11,11,High
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,89,90,74,85,14,6,15,11,8,High
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,79,84,81,83,15,9,15,9,11,High
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,84,85,88,33,27,31,25,37,High
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,14,11,47,11,91,89,95,90,89,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Danijel Subašić,Croatia,NaN,NaN,AS Monaco,GK,1.0,01/24/2012,2019.0,84,...,24,66,23,13,83,82,79,79,84,Medium
96,Nicolás Otamendi,Argentina,RCB,17.0,Manchester City,LCB,30.0,08/20/2015,2020.0,84,...,50,39,44,56,11,12,8,5,12,Medium
97,Shkodran Mustafi,Germany,Sub,2.0,Arsenal,RCB,20.0,08/30/2016,2021.0,84,...,55,47,54,51,10,11,15,9,6,Medium
98,Nemanja Matić,Serbia,NaN,NaN,Chelsea,LCM,21.0,01/15/2014,2019.0,84,...,68,67,69,74,14,7,12,15,9,Medium
99,Alex Sandro,Brazil,NaN,NaN,Juventus,LB,12.0,08/21/2015,2020.0,84,...,78,59,59,68,12,7,9,7,5,Medium

In [29]:
df.loc[:,["Rating","Rating_Group"]]

       Rating Rating_Group
0          94         High
1          93         High
2          92         High
3          92         High
4          92         High
...       ...          ...
17583      45          Low
17584      45          Low
17585      45          Low
17586      45          Low
17587      45          Low

[17588 rows x 2 columns]

In [34]:
rating_group_df = df[['Club_Position','Rating_Group']]
rating_group_df.head(100)

   Club_Position Rating_Group
0             LW         High
1             RW         High
2             LW         High
3             ST         High
4             GK         High
..           ...          ...
95            GK       Medium
96           LCB       Medium
97           RCB       Medium
98           LCM       Medium
99            LB       Medium

[100 rows x 2 columns]

In [35]:
player_rating_df = df[['Rating_Group','Name','Rating']]
player_rating_df.head(100)

   Rating_Group               Name  Rating
0          High  Cristiano Ronaldo      94
1          High       Lionel Messi      93
2          High             Neymar      92
3          High        Luis Suárez      92
4          High       Manuel Neuer      92
..          ...                ...     ...
95       Medium    Danijel Subašić      84
96       Medium   Nicolás Otamendi      84
97       Medium   Shkodran Mustafi      84
98       Medium      Nemanja Matić      84
99       Medium        Alex Sandro      84

[100 rows x 3 columns]

In [113]:
pd.options.display.float_format = "{:,.0f}".format
player_df = df[['Club','Name','Rating','Age','Height','Weight','Birth_Date','Preffered_Position','Nationality','National_Position','Club_Joining','Contract_Expiry','Preffered_Foot']]
player_df.head(100)

,Club,Name,Rating,Age,Height,Weight,Birth_Date,Preffered_Position,Nationality,National_Position,Club_Joining,Contract_Expiry,Preffered_Foot
0,Real Madrid,Cristiano Ronaldo,94,32,185,80,02/05/1985,LW/ST,Portugal,LS,07/01/2009,"2,021",Right
1,FC Barcelona,Lionel Messi,93,29,170,72,06/24/1987,RW,Argentina,RW,07/01/2004,"2,018",Left
2,FC Barcelona,Neymar,92,25,174,68,02/05/1992,LW,Brazil,LW,07/01/2013,"2,021",Right
3,FC Barcelona,Luis Suárez,92,30,182,85,01/24/1987,ST,Uruguay,LS,07/11/2014,"2,021",Right
4,FC Bayern,Manuel Neuer,92,31,193,92,03/27/1986,GK,Germany,GK,07/01/2011,"2,021",Right
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AS Monaco,Danijel Subašić,84,32,191,84,10/27/1984,GK,Croatia,NaN,01/24/2012,"2,019",Right
96,Manchester City,Nicolás Otamendi,84,29,183,81,02/12/1988,CB,Argentina,RCB,08/20/2015,"2,020",Right
97,Arsenal,Shkodran Mustafi,84,24,184,82,04/17/1992,CB,Germany,Sub,08/30/2016,"2,021",Right
98,Chelsea,Nemanja Matić,84,28,194,84,08/01/1988,CDM/CM,Serbia,NaN,01/15/2014,"2,019",Left
99,Juventus,Alex Sandro,84,26,181,76,01/26/1991,LB/LM,Brazil,NaN,08/21/2015,"2,020",Left

In [37]:
work_rate_df = df[['Name','Work_Rate']]
work_rate_df.head(100)

                 Name        Work_Rate
0   Cristiano Ronaldo       High / Low
1        Lionel Messi  Medium / Medium
2              Neymar    High / Medium
3         Luis Suárez    High / Medium
4        Manuel Neuer  Medium / Medium
..                ...              ...
95    Danijel Subašić  Medium / Medium
96   Nicolás Otamendi      High / High
97   Shkodran Mustafi    Medium / High
98      Nemanja Matić    Medium / High
99        Alex Sandro      High / High

[100 rows x 2 columns]

In [38]:
df.insert(len(df.columns), 'Physical', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,76,85,88,14,7,15,11,11,High,
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,90,74,85,14,6,15,11,8,High,
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,84,81,83,15,9,15,9,11,High,
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,84,85,88,33,27,31,25,37,High,
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,11,47,11,91,89,95,90,89,High,

In [74]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['Aggression','Reactions','Stamina','Strength','Jumping','Composure']
df['Physical'] = df[cols].astype(float).mean(axis=1)

In [75]:
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing,Defending,Shooting
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,14,7,15,11,11,High,85,83,28,75
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,14,6,15,11,8,High,73,86,25,72
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,15,9,15,9,11,High,69,79,31,68
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,33,27,31,25,37,High,81,80,41,74
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,91,89,95,90,89,High,65,37,17,20

In [58]:
physical_df = df[['Name','Physical','Aggression','Reactions','Stamina','Strength','Jumping','Composure']]
physical_df.head(100)

,Name,Physical,Aggression,Reactions,Stamina,Strength,Jumping,Composure
0,Cristiano Ronaldo,85,63,96,92,80,95,86
1,Lionel Messi,73,48,95,74,59,68,94
2,Neymar,69,56,88,79,49,61,80
3,Luis Suárez,81,78,93,89,76,69,83
4,Manuel Neuer,65,29,85,44,83,78,70
...,...,...,...,...,...,...,...,...
95,Danijel Subašić,60,31,79,32,80,75,65
96,Nicolás Otamendi,82,89,78,78,81,90,74
97,Shkodran Mustafi,78,79,81,74,81,85,71
98,Nemanja Matić,84,83,82,90,90,71,85
99,Alex Sandro,80,70,80,93,79,79,80

In [59]:
df.insert(len(df.columns), 'Passing', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,85,88,14,7,15,11,11,High,85,
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,74,85,14,6,15,11,8,High,73,
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,81,83,15,9,15,9,11,High,69,
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,85,88,33,27,31,25,37,High,81,
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,47,11,91,89,95,90,89,High,65,

In [60]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['Vision','Crossing','Short_Pass','Long_Pass','Curve','Volleys']
df['Passing'] = df[cols].astype(float).mean(axis=1)

In [61]:
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,85,88,14,7,15,11,11,High,85,83
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,74,85,14,6,15,11,8,High,73,86
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,81,83,15,9,15,9,11,High,69,79
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,85,88,33,27,31,25,37,High,81,80
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,47,11,91,89,95,90,89,High,65,37

In [62]:
passing_df = df[['Name','Passing','Vision','Crossing','Short_Pass','Long_Pass','Curve','Volleys']]
passing_df.head(100)

,Name,Passing,Vision,Crossing,Short_Pass,Long_Pass,Curve,Volleys
0,Cristiano Ronaldo,83,85,84,83,77,81,88
1,Lionel Messi,86,90,77,88,87,89,85
2,Neymar,79,80,75,81,75,79,83
3,Luis Suárez,80,84,77,83,64,86,88
4,Manuel Neuer,37,70,15,55,59,14,11
...,...,...,...,...,...,...,...,...
95,Danijel Subašić,25,52,11,24,26,24,13
96,Nicolás Otamendi,56,45,52,70,66,50,56
97,Shkodran Mustafi,60,55,51,77,69,55,51
98,Nemanja Matić,75,77,68,83,80,68,74
99,Alex Sandro,75,70,86,79,69,78,68

In [63]:
df.insert(len(df.columns), 'Defending', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing,Defending
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,88,14,7,15,11,11,High,85,83,
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,85,14,6,15,11,8,High,73,86,
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,83,15,9,15,9,11,High,69,79,
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,88,33,27,31,25,37,High,81,80,
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,11,91,89,95,90,89,High,65,37,

In [67]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['Sliding_Tackle','Standing_Tackle','Interceptions']
df['Defending'] = df[cols].astype(float).mean(axis=1)

In [68]:
defending_df = df[['Name','Defending','Sliding_Tackle','Standing_Tackle','Interceptions']]
defending_df.head(100)

,Name,Defending,Sliding_Tackle,Standing_Tackle,Interceptions
0,Cristiano Ronaldo,28,23,31,29
1,Lionel Messi,25,26,28,22
2,Neymar,31,33,24,36
3,Luis Suárez,41,38,45,41
4,Manuel Neuer,17,11,10,30
...,...,...,...,...,...
95,Danijel Subašić,16,13,14,20
96,Nicolás Otamendi,83,83,84,82
97,Shkodran Mustafi,84,85,83,85
98,Nemanja Matić,82,77,83,86
99,Alex Sandro,82,82,82,82

In [69]:
df.insert(len(df.columns), 'Shooting', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing,Defending,Shooting
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,14,7,15,11,11,High,85,83,28,
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,14,6,15,11,8,High,73,86,25,
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,15,9,15,9,11,High,69,79,31,
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,33,27,31,25,37,High,81,80,41,
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,91,89,95,90,89,High,65,37,17,

In [71]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['Heading','Weak_foot','Shot_Power','Finishing','Long_Shots','Freekick_Accuracy','Penalties']
df['Shooting'] = df[cols].astype(float).mean(axis=1)

In [76]:
shooting_df = df[['Name','Shooting','Heading','Weak_foot','Shot_Power','Finishing','Long_Shots','Freekick_Accuracy','Penalties']]
shooting_df.head(100)

,Name,Shooting,Heading,Weak_foot,Shot_Power,Finishing,Long_Shots,Freekick_Accuracy,Penalties
0,Cristiano Ronaldo,75,85,4,92,93,90,76,85
1,Lionel Messi,72,71,4,85,95,88,90,74
2,Neymar,68,62,5,78,89,77,84,81
3,Luis Suárez,74,77,4,87,94,86,84,85
4,Manuel Neuer,20,25,4,25,13,16,11,47
...,...,...,...,...,...,...,...,...,...
95,Danijel Subašić,22,13,2,24,10,14,66,23
96,Nicolás Otamendi,50,85,3,69,53,56,39,44
97,Shkodran Mustafi,52,81,3,66,58,52,47,54
98,Nemanja Matić,62,77,3,78,64,75,67,69
99,Alex Sandro,57,72,3,78,57,72,59,59

In [77]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['Skill_Moves','Ball_Control','Attacking_Position','Balance','Agility']
df['Dribbling'] = df[cols].astype(float).mean(axis=1)

In [78]:
dribbling_df = df[['Name','Dribbling','Skill_Moves','Ball_Control','Attacking_Position','Balance','Agility']]
dribbling_df.head(100)

,Name,Dribbling,Skill_Moves,Ball_Control,Attacking_Position,Balance,Agility
0,Cristiano Ronaldo,69,5,93,94,63,90
1,Lionel Messi,75,4,95,93,95,90
2,Neymar,74,5,95,90,82,96
3,Luis Suárez,67,4,91,92,60,86
4,Manuel Neuer,30,1,48,12,35,52
...,...,...,...,...,...,...,...
95,Danijel Subašić,23,1,19,15,37,42
96,Nicolás Otamendi,50,2,64,49,62,71
97,Shkodran Mustafi,51,2,70,50,69,66
98,Nemanja Matić,52,3,79,68,53,57
99,Alex Sandro,63,3,81,72,79,79

In [79]:
df.insert(len(df.columns), 'Pace', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing,Defending,Shooting,Pace
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,7,15,11,11,High,85,83,28,75,
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,6,15,11,8,High,73,86,25,72,
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,9,15,9,11,High,69,79,31,68,
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,27,31,25,37,High,81,80,41,74,
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,89,95,90,89,High,65,37,17,20,

In [80]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['Acceleration','Speed']
df['Pace'] = df[cols].astype(float).mean(axis=1)

In [81]:
pace_df = df[['Name','Pace','Acceleration','Speed']]
pace_df.head(100)

                 Name  Pace  Acceleration  Speed
0   Cristiano Ronaldo    92            91     92
1        Lionel Messi    90            92     87
2              Neymar    92            93     90
3         Luis Suárez    82            88     77
4        Manuel Neuer    60            58     61
..                ...   ...           ...    ...
95    Danijel Subašić    52            51     54
96   Nicolás Otamendi    72            68     75
97   Shkodran Mustafi    70            67     73
98      Nemanja Matić    67            66     68
99        Alex Sandro    86            83     89

[100 rows x 4 columns]

In [82]:
df.insert(len(df.columns), 'GoalKeeping', '')
df.head()

,Name,Nationality,National_Position,National_Team_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,GK_Kicking,GK_Handling,GK_Reflexes,Rating_Group,Physical,Passing,Defending,Shooting,Pace,GoalKeeping
0,Cristiano Ronaldo,Portugal,LS,7,Real Madrid,LW,7,07/01/2009,"2,021",94,...,15,11,11,High,85,83,28,75,92,
1,Lionel Messi,Argentina,RW,10,FC Barcelona,RW,10,07/01/2004,"2,018",93,...,15,11,8,High,73,86,25,72,90,
2,Neymar,Brazil,LW,10,FC Barcelona,LW,11,07/01/2013,"2,021",92,...,15,9,11,High,69,79,31,68,92,
3,Luis Suárez,Uruguay,LS,9,FC Barcelona,ST,9,07/11/2014,"2,021",92,...,31,25,37,High,81,80,41,74,82,
4,Manuel Neuer,Germany,GK,1,FC Bayern,GK,1,07/01/2011,"2,021",92,...,95,90,89,High,65,37,17,20,60,

In [83]:
pd.options.display.float_format = "{:,.0f}".format
cols = ['GK_Positioning','GK_Diving','GK_Kicking','GK_Handling','GK_Reflexes']
df['GoalKeeping'] = df[cols].astype(float).mean(axis=1)

In [84]:
gk_df = df[['Name','GoalKeeping','GK_Positioning','GK_Diving','GK_Kicking','GK_Handling','GK_Reflexes']]
gk_df.head(100)

,Name,GoalKeeping,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,12,14,7,15,11,11
1,Lionel Messi,11,14,6,15,11,8
2,Neymar,12,15,9,15,9,11
3,Luis Suárez,31,33,27,31,25,37
4,Manuel Neuer,91,91,89,95,90,89
...,...,...,...,...,...,...,...
95,Danijel Subašić,81,83,82,79,79,84
96,Nicolás Otamendi,10,11,12,8,5,12
97,Shkodran Mustafi,10,10,11,15,9,6
98,Nemanja Matić,11,14,7,12,15,9
99,Alex Sandro,8,12,7,9,7,5

In [114]:
club_df.to_csv('data/club.csv', index=False)
position_df.to_csv('data/position.csv', index=False)
rating_group_df.to_csv('data/ratingGroup.csv', index=False)
player_rating_df.to_csv('data/playerRating.csv', index=False)
player_df.to_csv('data/player.csv', index=False)
work_rate_df.to_csv('data/workRate.csv', index=False)
physical_df.to_csv('data/physical.csv', index=False)
passing_df.to_csv('data/passing.csv', index=False)
defending_df.to_csv('data/defending.csv', index=False)
shooting_df.to_csv('data/shooting.csv', index=False)
dribbling_df.to_csv('data/dribbling.csv', index=False)
pace_df.to_csv('data/pace.csv', index=False)
gk_df.to_csv('data/gk.csv', index=False)